In [ ]:
print(str((10 + 20) * 5 / 2)  + "㎠")

75.0㎠

In [3]:
user_names =["侍太郎","侍一郎","侍二郎","侍三郎","侍四郎"]
user_ages =[36,33,29,25,22]
user_names.append("侍五郎")
user_names.pop(2)
print(user_names)

['侍太郎', '侍一郎', '侍三郎', '侍四郎', '侍五郎']

In [4]:
country_names=("日本","アメリカ","イギリス","フランス")
print(country_names[2])
print(country_names)

イギリス
('日本', 'アメリカ', 'イギリス', 'フランス')

In [11]:
prime_numbers={2,3,5,7}
print(prime_numbers)
prime_numbers.add(11)
print(prime_numbers)

prime_numbers.remove(3)
print(prime_numbers)

{2, 3, 5, 7}
{2, 3, 5, 7, 11}
{2, 5, 7, 11}